# どのファイルからでも参照可能

snippet todo "todo comment"
TODO(okubo): ${1:comment}
endsnippet

snippet note "note comment"
NOTE(okubo): ${1:comment}
endsnippet

snippet sen "sentinel"
sentinel
endsnippet

snippet p
private
endsnippet

