# HTMLの設定をextends
extends html

snippet pry
<% binding.pry %>
endsnippet

snippet end
<% end %>
endsnippet

snippet if
<% if ${1:Conditions} %>
	${2:Body}
<% end %>
endsnippet

snippet else
<% else %>
endsnippet

snippet each
<%= ${1:Array}.each do |${2:Reciever}| %>
	${3:Body}
<% end %>
endsnippet

snippet link
<%= link_to ${1:Name}, ${2:Link} %>
endsnippet

snippet render
<%= render '${1:Name}' %>
endsnippet
