# TODO: ファイル名？によって決まるかもなので、erbとhamlでの対応が必要かも
# haml
snippet hcond
- ${1:CondStatement} ${2:Conditions}
	${3:Body}
endsnippet

snippet heach
- ${1:Array}.each do |${2:Reciever}|
	${3:Body}
endsnippet

