extends html

snippet log "log something"
console.log(${1:Content});
endsnippet

snippet warn "warn something"
console.warn(${1:Content});
endsnippet

snippet fun "create a function"
const ${1:name} = (): ${2:Type} => {
}
endsnippet

snippet if "create a condition"
if (${1:condition}) {
	${2:Body}
}
endsnippet

snippet ife "create a condition"
if (${1:condition}) {
	${2:Body}
} else {
	${3:Body}
}
endsnippet

