extends html

snippet log "log something"
console.log(${1});
endsnippet

snippet warn "warn something"
console.warn(${1});
endsnippet

snippet fun "create a function"
const ${1} = (): ${2} => {
}
endsnippet

snippet if "create a condition"
if (${1}) {
	${2}
}
endsnippet

snippet ife "create a condition"
if (${1}) {
	${2}
} else {
	${3}
}
endsnippet

