snippet frz "frozen string literal"
	# frozen_string_literal: true
endsnippet

snippet rsit "rspec it"
it '${1:Description}' do
end
endsnippet

snippet rscon "rspec context"
context '${1:Description}' do
end
endsnippet

snippet rsdesc "rspec describe"
describe '${1:Description}' do
end
endsnippet
