extends html

snippet log "log something"
console.log(${1:Content});
endsnippet

snippet fun "create a function"
const ${1:name} = (): ${2:Type} => {
}
endsnippet

snippet if "create a condition"
if (${1:condition}) {
}
endsnippet

snippet in "create an interface"
interface ${1:Name} {
}
endsnippet

# react系
snippet rc "create a react component"
const ${1:AppName} = (${2:Props}): JSX.Element => ${3}
endsnippet

