extends html

snippet tlog "log something"
console.log(${1:Content});
endsnippet

snippet tfun "create a function"
const ${1:name} = (): ${2:Type} => {
}
endsnippet

snippet tif "create a condition"
if (${1:condition}) {
}
endsnippet

snippet tin "create an interface"
interface ${1:Name} {
}
endsnippet

# react系
snippet rc "create a react component"
const ${1:AppName} = (${2:Props}): JSX.Element => ${3}
endsnippet

